@import 'reset.css' layer(reset);
@import 'variables.css';
@import 'utilities.css';

@import 'button.css';

*:focus-visible {
  outline: 0.125rem solid var(--color-focus);
  outline-offset: 0.125rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

body {
  font-family: var(--font);
  font-weight: var(--font-weight-medium);
  font-optical-sizing: auto;
  line-height: var(--line-height-m);
  color: var(--color-text);
  background-color: var(--color-background);
}

main {
  width: min(var(--content-max-width), 100% - 2 * var(--content-padding));
  margin-inline: auto;
  padding-block: 4rem;
  display: grid;
  gap: 4rem;

  @media (--md) {
    gap: 8rem;
    padding-block: 8rem;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: var(--line-height-l);
}

p {
  text-wrap: pretty;
}

button {
  cursor: pointer;
}
