:root {
  @custom-media --sm (min-width: 40em);
  @custom-media --md (min-width: 48em);
  @custom-media --lg (min-width: 64em);
  @custom-media --xl (min-width: 80em);
  @custom-media --2xl (min-width: 96em);

  --color-white: #ffffff;
  --color-black: #191a23;
  --color-dark-blue: #1e292b;
  --color-light-green: #b9ff66;
  --color-gray: #898989;
  --color-light-gray: #f3f3f3;
  --color-red: #ff5979;

  --color-primary: var(--color-dark-blue);
  --color-secondary: var(--color-white);
  --color-secondary-shade: var(--color-light-gray);
  --color-accent: var(--color-light-green);

  --color-text: var(--color-primary);
  --color-focus: var(--color-red);
  --color-background: var(--color-secondary);
  --color-shadow: var(--color-black);
  --color-error: var(--color-red);

  --line-height-l: 1;
  --line-height-m: 1.4;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --size-header: 6.25rem;

  --shadow: -0.625rem 0.625rem 0 0 var(--color-shadow);

  --radius-full: 9999px;

  --animation-duration: 0.2s;

  --content-max-width: 74rem;
  --content-padding: 2rem;
  --content-inner-padding: 2rem;

  --fs-heading-l: 2rem; /* 32px */
  --fs-heading-m: 1.125rem; /* 18px */
  --fs-heading-s: 1rem; /* 16px */
  --fs-heading-xs: 1rem; /* 16px */

  --fs-body-l: 1rem; /* 16px */
  --fs-body-m: 0.875rem; /* 14px */

  --fs-label-l: 0.875rem; /* 14px */
  --fs-label-m: 0.75rem; /* 12px */

  --fs-input: 1rem; /* 16px */

  @media (--md) {
    --content-inner-padding: 4rem;

    --fs-heading-l: 3.75rem; /* 60px */
    --fs-heading-m: 2.5rem; /* 40px */
    --fs-heading-s: 1.75rem; /* 28px */
    --fs-heading-xs: 1.25rem; /* 20px */

    --fs-body-l: 1.75rem; /* 28px */
    --fs-body-m: 1.125rem; /* 18px */

    --fs-label-l: 1.25rem; /* 20px */
    --fs-label-m: 1rem; /* 16px */

    --fs-input: 1.125rem; /* 18px */
  }
}
