---
import Logo from '@/components/Logo.astro';
import Layout from '@/layouts/Base.astro';
---

<Layout>
  <h1 class="sr-only">Kynd</h1>
  <div class="container">
    <div class="logo">
      <Logo />
    </div>
  </div>
</Layout>

<style>
  .container {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 40%;
    color: var(--yellow);
  }
</style>
