---
import Accordion from '@/components/Accordion.astro';
import AccordionItem from '@/components/AccordionItem.astro';
import ContactUs from '@/components/ContactUs.astro';
import HeroSection from '@/components/HeroSection.astro';
import PageSection from '@/components/PageSection.astro';
import Layout from '@/layouts/Base.astro';
---

<Layout>
  <HeroSection
    title="Transparent, spennende og nytenkende"
    preamble="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab inventore."
  />
  <PageSection
    heading="Prosjekter"
    subheading="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."
  >
    <p>Tjenester</p>
  </PageSection>
  <ContactUs />
  <Accordion>
    <AccordionItem title="Title" number="01">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </AccordionItem>
    <AccordionItem title="Title" number="02">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </AccordionItem>
  </Accordion>
  <Accordion>
    <AccordionItem title="Title">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </AccordionItem>
    <AccordionItem title="Title">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </AccordionItem>
  </Accordion>
</Layout>
