---
import Layout from '@/layouts/BlogPost.astro';
---

<Layout title="Om oss" description="Om oss">
  <p>
    Kynd ble stiftet i 2024 av tre amigos – Daniel, Frederik og Axel – som har gått sammen om å lage
    en transparent, spennende og nytenkende arbeidsplass. Vi er et konsulentbyrå innen fullstack
    softwareutvikling, organisasjonsdesign og smidig produkt-, team og endringsledelse.
  </p>
  <h2>Fundament</h2>
  <p>
    Grunnverdiene Kynd er tuftet på er åpenhet, samhold og enkelhet. Vi skal være dristige og
    relasjonsorientert når vi designer og utvikler selskapet, fordi vi tror på og bryr oss om
    hverandre.
  </p>
  <p>
    Vi mener engasjement skapes av innsikt, ansvar og tillit. For oss betyr det Åpen økonomi og
    lønnsmodell, Delingskultur både for selskapsinformasjon, økonomi og kompetanse
    <ul>
      <li>Likeverdig eierskap</li>
      <li>Åpen økonomi og lønnsmodell</li>
      <li>Delingskultur både for selskapsinformasjon, økonomi og kompetanse</li>
    </ul>
  </p>
  <h2>Why be kynd?</h2>
  <p>
    Vi etablerte Kynd fordi vi vil bruke tiden, kreftene og kompetansen vår på å skape en knallbra
    arbeidshverdag, hvor vi bygger noe som gir mening for oss – sammen. På veien er det viktig for
    oss å ha god lønn og trygghet. Vi sikter på bærekraftig vekst både kulturelt og økonomisk.
    Sekundært vil vi bygge et sterkt og levende kompetansemiljø. Målet er høy grad av
    kunnskapsdeling og et sterkt kunnskapssamhold. Vi drar det faglige lasset sammen, og utfordrer
    og utvikler hverandre på harde og myke kompetanser. Til sist er det spennende om vi klarer å
    bygge produkter som en konsekvens av erfaringer vi gjør i oppdrag, eller basert på ferdigheter
    vi tilegner oss som selskap.
  </p>
  <h2>Si hei!</h2>
  <p>
    Følg oss gjerne på LinkedIn, og ikke nøl med å ta kontakt om du er nysgjerrige på hvem vi er,
    hva vi driver med, og hvorfor vi bryr oss 👊
  </p>
</Layout>
