---
import Layout from '@/layouts/BlogPost.astro';
---

<Layout title="Om oss" description="Lorem ipsum dolor sit amet">
  <p>
    Kynd ble stiftet i 2024 av tre amigos – Daniel, Frederik og Axel – som har gått sammen om å lage
    en transparent, spennende og nytenkende arbeidsplass. Vi er et konsulentbyrå innen fullstack
    softwareutvikling, organisasjonsdesign og smidig produkt-, team og endringsledelse.
  </p>
  <p>
    Grunnverdiene Kynd er tuftet på er åpenhet, samhold og enkelhet. Vi skal være dristige,
    relasjonsorientert og vi tror på og bryr oss om mennesket.
  </p>
  <p>
    Vi mener engasjement skapes av innsikt, ansvar og tillit. For oss betyr det Åpen økonomi og
    lønnsmodell, Delingskultur både for selskapsinformasjon, økonomi og kompetanse
    <ul>
      <li>Likeverdig eierskap</li>
      <li>Åpen økonomi og lønnsmodell</li>
      <li>Delingskultur både for selskapsinformasjon, økonomi og kompetanse</li>
    </ul>
  </p>
  <p>
    Vi etablerte ikke Kynd for å bli rike. Vi vil skape en knallbra arbeidshverdag, hvor vi bygger
    noe som gir mening for oss – sammen.
  </p>
</Layout>
