---
import Layout from '@/layouts/BlogPost.astro';
---

<Layout title="Tjenester" description="Tjenester">
    <p>
        I Kynd handler alt vi driver med om mennesker. Vi lever av å levere kompetanse til team, og vi blir ikke bedre enn folka vi løser problemer med. Derfor er vi opptatt av team, vi er opptatt av folk, og vi er opptatt av god kommunikasjon. 
    </p>
    <h2>Frontend</h2>
    <p>
        Design blir ikke bedre enn implementeringa. Vi leverer lead-kompetanse på kjente Frontendteknologier. Sparring med design er en selvfølge. 
        <ul>
            <li>Rolle: Frontend Lead</li>
            <li>Rammeverk: React, Vue, Angular</li>
            <li>Språk: Typescript/Javascript, CSS, preprocessors SASS/LESS</li>
            <li></li>
        </ul>
    </p>
    <h2>Backend</h2>
    <p>
        Serverside 
    </p>
    
</Layout>