---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'> & {
  variant?: 'primary' | 'secondary' | 'tertiary';
};

const { variant = 'primary', class: className, ...rest } = Astro.props;
---

<button class:list={[className, variant]} {...rest}><slot /></button>

<style>
  button {
    padding: 1.25rem 2.1875rem;
    font-size: var(--fs-link-l);
    line-height: var(--line-height-m);
    border: 2px solid transparent;

    &:hover {
      box-shadow: var(--shadow);
    }

    &.primary {
      color: var(--color-secondary);
      background-color: var(--color-primary);
    }

    &.secondary {
      color: var(--color-primary);
      background-color: var(--color-secondary);
      border-color: var(--color-primary);
    }

    &.tertiary {
      color: var(--color-primary);
      background-color: var(--color-accent);
    }
  }
</style>
