---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'> & {
  variant?: 'primary' | 'secondary' | 'tertiary';
};

const { variant = 'primary', class: className, ...rest } = Astro.props;
---

<button class:list={['button', className, variant]} {...rest}><slot /></button>
