---
import Logo from './Logo.astro';
---

<footer>
  <div class="logo">
    <Logo />
  </div>
  <div>
    <div class="list">
      <div class="foo">Kontakt oss</div>
      <div>kynd AS</div>
    </div>
  </div>
</footer>

<style>
  footer {
    max-width: calc(var(--content-max-width) - 2 * var(--content-padding));
    padding: 4rem var(--content-padding);
    margin: 0 auto;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    /* padding: 2em 1em 6em 1em;
    color: var(--color-footer);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1; */
  }

  .logo {
    width: 6.25rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .foo {
    color: var(--color-primary);
    background-color: var(--color-accent);
  }
</style>
