---
import Input from './Input.astro';
import Logo from './Logo.astro';
---

<footer>
  <div class="logo">
    <Logo />
  </div>
  <div class="grid">
    <div class="list">
      <div class="list-header">Kontakt oss</div>
      <div>kynd AS</div>
      <a href="tel:+4712345678">Tlf: 123 45 678</a>
      <a href="mailto:hei@kynd.no">hei@kynd.no</a>
    </div>
    <div class="list">
      <div class="list-header">Sosiale medier</div>
      <a href="https://www.linkedin.com/company/kynd-no/" target="_blank" rel="noopener noreferrer"
        >LinkedIn</a
      >
      <a href="https://www.instagram.com/kynd_no/" target="_blank" rel="noopener noreferrer"
        >Instagram</a
      >
    </div>
    <div class="list newsletter-list">
      <div class="list-header">Nyhetsbrev</div>
      <Input id="newsletter" label="Nyhetsbrev" hiddenLabel name="newsletter" placeholder="Epost" />
    </div>
  </div>
</footer>

<style>
  footer {
    inline-size: min(var(--content-max-width), 100%);
    padding-inline: var(--content-inner-padding);
    padding-block: 4rem;
    margin-inline: auto;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .logo {
    inline-size: 6.25rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block-end: 4rem;
    border-block-end: 0.0625rem solid var(--color-secondary);
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .list-header {
    color: var(--color-primary);
    background-color: var(--color-accent);
    padding: 0.25rem;
    font-size: var(--fs-body-l);
  }

  .newsletter-list {
    justify-content: space-between;
  }
</style>
