---
import Logo from './Logo.astro';
---

<footer>
  <div class="logo">
    <Logo />
  </div>
  <div>
    <div class="list">
      <div class="foo">Kontakt oss</div>
      <div>kynd AS</div>
    </div>
  </div>
</footer>

<style>
  footer {
    width: min(var(--content-max-width), 100%);
    padding: 4rem var(--content-padding);
    margin-inline: auto;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .logo {
    width: 6.25rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .foo {
    color: var(--color-primary);
    background-color: var(--color-accent);
  }
</style>
