---
import HeaderLink from '@/components/HeaderLink.astro';
import Logo from '@/components/Logo.astro';

const { pathname } = Astro.url;

const isFrontPage = pathname === '/';
const displayLogo = isFrontPage ? 'none' : 'flex';
---

<header>
  <a href="/" aria-label="Forside" class="logo-link"><Logo /></a>
  <nav>
    <HeaderLink href="/">Forside</HeaderLink>
    <!-- <HeaderLink href="/shaker">Blogg</HeaderLink> -->
    <!-- <HeaderLink href="/folka">Folka</HeaderLink> -->
    <!-- <HeaderLink href="/prosjekter">Prosjekter</HeaderLink> -->
    <HeaderLink href="/om-oss">Om oss</HeaderLink>
  </nav>
</header>

<style define:vars={{ displayLogo }}>
  header {
    margin: 0;
    padding: 1rem var(--content-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--color-header);

    @media (--md) {
      flex-direction: row;
    }
  }

  .logo-link {
    width: 5em;
    display: var(--displayLogo);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--color-header);
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @media (--md) {
      margin-left: auto;
    }
  }
</style>
