---
import Logo from '@/components/Logo.astro';
import NavLink from '@/components/NavLink.astro';
---

<header>
  <a href="/" aria-label="Forside" class="logo-link"><Logo /></a>
  <nav>
    <NavLink href="/om-oss">Om oss</NavLink>
    <NavLink href="/tjenester">Tjenester</NavLink>
    <NavLink href="/prosjekter">Prosjekter</NavLink>
    <NavLink href="/kontakt-oss" isButton>Kontakt oss</NavLink>
  </nav>
</header>

<style>
  header {
    height: var(--size-header);
    width: min(var(--content-max-width), 100% - 2 * var(--content-padding));
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-link {
    width: 6.25rem;
    flex-shrink: 0;
  }

  nav {
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
  }
</style>
