---
import ButtonLink from './ButtonLink.astro';

export type Props = {
  title: string;
  preamble?: string;
};

const { title, preamble } = Astro.props;
---

<div class="hero-section">
  <div>
    <h1>{title}</h1>
    {preamble && <p>{preamble}</p>}
    <ButtonLink>Les artikkel</ButtonLink>
  </div>
  <div>
    <img src="/Layer_2.svg" alt="" />
  </div>
</div>

<style>
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  h1 {
    font-size: var(--fs-heading-l);
  }

  p {
    margin-block: 2rem;
    font-size: var(--fs-body-l);
    line-height: var(--line-height-m);
  }

  img {
    width: 100%;
  }
</style>
