---
import { Image as AstroImage, type LocalImageProps } from 'astro:assets';

export type Props = LocalImageProps & {
  aspectRatio?: number | 'intrinsic' | undefined;
  objectFit?: 'contain' | 'cover' | undefined;
};

const { aspectRatio = 'intrinsic', objectFit, src, alt } = Astro.props;
---

<div>
  <AstroImage
    src={src}
    alt={alt}
    widths={[240, 540, 720, 1600]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 1600px`}
  />
</div>

<style define:vars={{ aspectRatio, objectFit }}>
  :global(img) {
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: var(--aspectRatio);
    object-fit: var(--objectFit);
  }
</style>
