---
import { Image as AstroImage, type LocalImageProps } from 'astro:assets';

export type Props = LocalImageProps & {
  objectFit?: 'contain' | 'cover' | undefined;
};

const { objectFit, ...rest } = Astro.props;
---

<div>
  <AstroImage {...rest} />
</div>

<style define:vars={{ objectFit }}>
  :global(img) {
    inline-size: 100%;
    block-size: auto;
    object-fit: var(--objectFit);
  }
</style>
