---
import type { ImageMetadata } from 'astro';
import { Image as AstroImage } from 'astro:assets';

export type Props = {
  imagePath: string;
  alt: string;
  aspectRatio?: number | 'intrinsic';
  objectFit?: 'contain' | 'cover';
};

const { imagePath, alt, aspectRatio: aspectRatio = 'intrinsic', objectFit } = Astro.props;
const fullImagePath = `/src/assets${imagePath}`;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');

if (!images[fullImagePath])
  throw new Error(`"${fullImagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);

const image = images[fullImagePath];
---

<div>
  {image && <AstroImage src={image()} alt={alt} />}
</div>

<style define:vars={{ aspectRatio, objectFit }}>
  :global(img) {
    border-radius: 0.5rem;
    aspect-ratio: var(--aspectRatio);
    object-fit: var(--objectFit);
  }
</style>
