---
import Image, { type Props as ImageProps } from './Image.astro';

export type Props = ImageProps & {
  href: string;
  name: string;
};

const { name, href, ...rest } = Astro.props;
---

<a href={href}>
  <Image {...rest} />
  <h2>{name}</h2>
</a>

<style>
  h2 {
    width: fit-content;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      transition: transform 0.3s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.125rem;
      background: var(--color-focus);
      transform: scaleX(0);
    }
  }

  a:hover h2::before {
    transform: scaleX(1);
  }
</style>
