---
import { Image as AstroImage, type LocalImageProps } from 'astro:assets';

export type Props = LocalImageProps & {
  aspectRatio?: number | 'intrinsic' | undefined;
  objectFit?: 'contain' | 'cover' | undefined;
};

const { aspectRatio = 'intrinsic', objectFit, ...rest } = Astro.props;
---

<div>
  <AstroImage {...rest} />
</div>

<style define:vars={{ aspectRatio, objectFit }}>
  :global(img) {
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: var(--aspectRatio);
    object-fit: var(--objectFit);
  }
</style>
