<div>
  <slot />
</div>

<style>
  div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    column-gap: 3rem;
    row-gap: 2rem;
  }
</style>
