---
export type Props = {
  align?: 'left' | 'right' | 'center';
};

const { align = 'left' } = Astro.props;

const leftMargin = align === 'left' ? '0' : 'auto';
const rightMargin = align === 'right' ? '0' : 'auto';
---

<div>
  <slot />
</div>

<style define:vars={{ leftMargin, rightMargin }}>
  div {
    font-size: var(--fs-body-l);
    font-weight: 400;
    margin-inline-start: var(--leftMargin);
    margin-inline-end: var(--rightMargin);

    @media (--md) {
      max-width: min(65ch, 60%);
    }
  }

  :global(p) {
    margin-block-end: 1em;
  }

  :global(ul),
  :global(ol) {
    list-style: revert;
    padding-inline-start: 1em;
  }

  :global(li) {
    margin-block: 0.5em;
  }
</style>
